@page "/order"
@using Ocean.Data
@using Ocean.Data.Models
@using Ocean.Services
@inject OceanService oceanService;
@rendermode RenderMode.InteractiveServer

<div class="order-visiting">
    <div class="order-visiting__inner">
        <div class="order-visiting__text">
            <h2>Lorem ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Nullam ac erat ante. Proin facilisis, justo a mollis ultricies, ligula elit tincidunt justo, vitae consectetur risus risus ac neque. Phasellus quis risus ac nisi dignissim laoreet. Maecenas blandit aliquet lorem non sollicitudin. Duis ultricies ipsum at elit feugiat, sit amet pharetra nisi scelerisque. Vivamus eget vehicula lorem. In sit amet leo nec ipsum feugiat dictum sit amet non turpis.</p>
        </div>

        

        <EditForm Model="@orders" OnValidSubmit="AddOrder" class="order-visiting__form" FormName="OrderForm">
            <div class="arrow-left"></div>
            <DataAnnotationsValidator />
            <InputSelect @bind-Value="@orders.Guide" class="order-visiting__form-input">
                <option value="">Select guide</option>
                <option value="Catherine">Catherine</option>
                <option value="Matthew">Matthew</option>
                <option value="Lilia">Lilia</option>
                <option value="Martin">Martin</option>
            </InputSelect>
            <ValidationMessage For="@(() => orders.Guide)"  class="order-visiting__form-validation"/>
            <InputSelect @bind-Value="@orders.Location" class="order-visiting__form-input">
                <option value="">Select location</option>
                <option value="Pacific ocean">Pacific ocean</option>
                <option value="Arctic ocean">Arctic ocean</option>
                <option value="Atlantic ocean">Atlantic ocean</option>
                <option value="Indian ocean">Indian ocean</option>
            </InputSelect>
            <ValidationMessage For="@(() => orders.Location)" class="order-visiting__form-validation" />
            <InputDate @bind-Value="@orders.Date" name="dateOrder" class="order-visiting__form-input" />
            <InputSelect @bind-Value="@orders.Time" class="order-visiting__form-input">
                <option value="">Select time</option>
                <option value="10:00">10:00</option>
                <option vlaue="15:00">15:00</option>
                <option value="18:00">18:00</option>
            </InputSelect>
            <ValidationMessage For="@(() => orders.Time)" class="order-visiting__form-validation" />
            <InputText @bind-Value="@orders.UserFullName" class="order-visiting__form-input" />
            <ValidationMessage For="@(() => orders.UserFullName)" class="order-visiting__form-validation" />
            <InputText @bind-Value="@orders.UserEmail" class="order-visiting__form-input" />
            <ValidationMessage For="@(() => orders.UserEmail)" class="order-visiting__form-validation" />
            <button type="submit" class="order-visiting__form-btn">Order</button>
        </EditForm>
    </div>
</div>

@code {
    private Orders orders = new Orders();
    private void AddOrder()
    {
        Orders newOrder = orders;
        orders = new Orders();
        Console.WriteLine(orders.Guide);
        oceanService.AddOrder(newOrder);
    }
}
